.heading{
    text-align: center;
    margin-top: 100px;
    max-width: 1200px;
    font-size: 1.3rem;
}
@media only screen and (max-width:680px) {
    .heading{
        text-align: center;
        margin-top: 100px;
        max-width: 1200px;
        font-size: 4.2vw;
    }
}