.total {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  margin-top:200px;
  max-width: 1500px;
}
.btn {
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: black;
  background-color: black;
  padding: 20px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(209, 209, 209);
  color: black;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section1 {
  padding: 200px 120px;
  flex: 1;
}
.section1 h1 {
  font-size: 5rem;
}
.section1 h4 {
  color: rgb(93, 93, 93);
  letter-spacing: 5px;
  line-height: 30px;
}
.section2 {
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: black;
  margin-right: 50px;
  margin-top: 100px;
}
.section2 img{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .total {
    background-color: #fff;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    flex: 1;
  }

  .section1 h1 {
    font-size: 2.3rem;
    /*  margin: 20px; */
  }
  .section1 h4 {
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 50px;
    width: 140px;
    cursor: pointer;
  }
  .section2 {
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: black;
    margin: auto;
    /* margin-right: 50px; */
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .section2 {
    height: 500px;
    width: 300px;
  }
}
