.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
}
.middle h1 {
  padding: 10px;
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.boxes .section,.section1,.section2,.section3 {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-weight: 900;
  padding: 130px;
  margin: 20px;
  position: relative;
}
.section {
  border-radius: 20px;
  box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.2),
    inset -2px -2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    130deg,
    rgba(255, 140, 55, 0.9) 0%,
    rgba(236, 55, 80, 0.9) 100%
  );
}

.section1 {
  border-radius: 20px;
  box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.2),
    inset -2px -2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-32deg, #6f31b7 14%, #fb558e 82%);
}
.section2 {
  border-radius: 20px;
  box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.2),
    inset -2px -2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    324deg,
    rgba(51, 142, 218, 0.9) 0%,
    rgba(51, 214, 166, 0.9) 100%
  );
}
.section3 {
  border-radius: 20px;
  box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.2),
    inset -2px -2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    130deg,
    rgba(255, 140, 55, 0.9) 0%,
    rgba(236, 55, 80, 0.9) 100%
  );
}
@media only screen and (max-width: 600px) {
  .middle h1 {
    font-size: 2rem;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 10px;
  }
}