.bottomNav{
    display: none;
}

@media only screen and (max-width: 600px) {

    .bottomNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin: auto;
        background-color: transparent;
        position: fixed;
        bottom:0;
        
    }
    .nav{
        background-color: #ffffff;
        /* border:1px solid #0000005e; */
        box-shadow: 0px 10px 50px #00000044;
        border-radius: 20px;
        padding: 5px;
    }
    .nav{
        display: flex;
        flex-direction: row;
    }
    .nav .link{
        padding: 8px 15px;
        margin: 5px;
        border-radius: 20px;
        transition: all 0.2s linear;
    }
    .nav .link:hover{
        background: #74ebd5;
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
        background: linear-gradient(to right, #ACB6E5, #74ebd5);        
        border-radius: 20px;
        transform: translateY(-30px);
        box-shadow: 2px 20px 30px #0000006e;
    }
    @media only screen and (max-width: 400px) {
        .bottomNav .link {
            padding: 6px 12px;
        }
    }

    

}