@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    width:100% ;
    padding: 5px 80px;
    background: #fff;
    z-index: 10; 
}

.links ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    font-size:1.2rem;
    font-weight: bolder;
    outline:none;
    color: #00000083;
    padding: 2px 10px;
    border-left: 10px solid transparent;
    transition: all 0.2s linear;
}
.links ul li a:hover{
   color: rgb(16, 24, 36);
}
.links ul li a:focus{
    color: rgb(16, 24, 36);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo div{
    font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 970px) {
    .links ul li a{
      font-size: 0.8rem;
       
    }
  }
@media only screen and (max-width: 600px) {
    .navbar{
        display: flex;
        justify-content: center;
    }
    .links ul{
        display: none;
    }

  }