@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap');
.mainAbout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.heading{
    display: flex;
    flex-direction: row;
}
.heading p{
    text-align: center;
    color: #1a1616;
    font-size: 2.5rem;
    font-weight:bolder;
}
.heading span {
    text-align: center;
    color: #1a1616;
    font-size: 2.5rem;
    font-weight:bolder;
}
.heading span, .webAppSection span , .projectSection  span, .developersSection span{
    background-image: linear-gradient(320deg,#7b91f0, #74ebd5);
    padding: 0 10px;
    border-radius:6px; 
    font-weight:bolder ;
}
.bar{
    border-left: 15px solid #74ebd5;
    margin: 5px;
    padding: 0px 10px;
}
.developer{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom:100px;
}
.devIntro{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap ;
    max-width: 1200px;
}
.aboutwebapp{
    max-width: 1000px;
    font-size: 1.5rem;
    margin: 50px; 
    color: #000000a6;
}

.intro{
    max-width: 610px;
    font-size: 1.5rem;
        color: #000000a6;
}
.intro_rest{
    font-size: 1.5rem;
        color: #000000a6;
}
.bottomsection{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    margin-top:50px;
    font-size: 1.9rem;
    font-weight: bolder;
}
.contactBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px;
    margin-top: 60px;
    justify-content: center;
}
.contact_links{
    margin: auto;
}
.developer_info{
    margin: 10px;
    width: 268px;
}
.img{
    height: 250px;
    width: 250px;
    box-shadow: 0px 8px 20px #1a161659;
    border-radius: 10px;
    margin-right: 20px ;
}
.Kunal .img{
    background-image: url('./img/kunal.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Pavitra .img{
    background-image: url('./img/pavitra.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Ankit .img{
    background-image: url('./img/Ankit.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Aditya .img{
    background-image: url('./img/aditya.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.name{
    font-weight: bolder;
    font-size: 2rem;
    color: #1a1616f3;

}
.developer_info p{
    font-weight: normal;
    font-size: 1.2rem;
    color: #1a1616f3;
}
.social_icons{
    margin: 5px;
    opacity: 0.7;
    transition: all 0.2s linear;
}
.social_icons:hover{
    opacity: 1;
}
.footersection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:1rem ;
    position: relative;
    bottom: 0;
}
.footersection a{
    outline: none;
    text-decoration: none;
    color: #1a1616;
}
.heart{
    margin-top: -14px;
    margin-left: -5px;
    margin-right: -5px;
}
.copyright{
    margin: auto;
    margin-bottom:80px ;
    font-size:1rem ;
    color: #929292;

}


@media only screen and (max-width: 1200px) {
    .intro{
        font-size: 1.5rem;
        margin: 50px;
        max-width: 100%;
    }
    .intro_rest{
    font-size: 1.5rem;
    color: #000000a6;
    margin: 50px;
    margin-top: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .aboutwebapp{
        max-width: 1000px;
        margin: 30px;
        font-size: 20px;
    }
    .aboutproject{
        max-width: 1000px;
        margin: 30px;
        font-size: 6vw;
    }
    .intro{
        margin: 30px;
        font-size: 6vw;
    }
    .intro_rest{
        font-size: 6vw;
        color: #000000a6;
        margin: 30px;

    }
}